<ul class="list-group">
    <li class="list-group-item">
        <input class="form-check-input me-1" type="checkbox">
        Visibilidad
        <p>Controlar la visibilidad de sus publicaciones. Puede elegir entre opciones como "Público" (Check) o "Privado" (Uncheck)</p>
    </li>
    <li class="list-group-item">
        <input class="form-check-input me-1" type="checkbox">
        Notificaciones:
        <p>Controla la opcion de recibir notificaciones. Puede seleccionar las notificaciones que desean recibir, como
            actualizaciones de nuevos comics, comentarios en sus publicaciones, etc.</p>
    </li>
    <li class="list-group-item">
        <label>Preferencias de idioma:</label>
        <p>Elige su idioma preferido para la interfaz de la plataforma.</p>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                aria-expanded="false">
                Seleccione...
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><button class="dropdown-item" type="button">Ingles</button></li>
                <li><button class="dropdown-item" type="button">Español</button></li>
            </ul>
        </div>
    </li>
</ul>
