<div>
    <a href=#>
        <span class="tag">Accion</span>
    </a>
    <a href=#>
        <span class="tag">Comedia</span>
    </a>
    <a href=#>
        <span class="tag">Misterio</span>
    </a>
    <a href=#>
        <span class="tag">Aventura</span>
    </a>
    <a href=#>
        <span class="tag">Ciencia Ficcion</span>
    </a>
    <a href=#>
        <span class="tag">Drama</span>
    </a>
    <a href=#>
        <span class="tag">Horror</span>
    </a>
    <a href=#>
        <span class="tag">Fantasia</span>
    </a>
    <a href=#>
        <span class="tag">Gore</span>
    </a>
    <a href=#>
        <span class="tag">Una etiqueta un poco mas larga de lo normal</span>
    </a>
    <a href=#>
        <span class="tag">Romance</span>
    </a>
    <a href=#>
        <span class="tag">WebComic</span>
    </a>
    <a href=#>
        <span class="tag">Paranormal</span>
    </a>
    <a href=#>
        <span class="tag">Sobrenatural</span>
    </a>
    <a href=#>
        <span class="tag">Suspenso</span>
    </a>
    <a href=#>
        <span class="tag">Tragedia</span>
    </a>
    <a href="#">
        <span class="tag">Artes Marciales</span>
    </a>
    <a href="#">
        <span class="tag">Cyberpunk</span>
    </a>
    <a href="#">
        <span class="tag">Deportes</span>
    </a>
    <a href="#">
        <span class="tag">Historico</span>
    </a>
    <a href="#">
        <span class="tag">Mecha</span>
    </a>
    <a href="#">
        <span class="tag">Misterio</span>
    </a>
    <a href="#">
        <span class="tag">Musical</span>
    </a>
    <a href="#">
        <span class="tag">Post-apocaliptico</span>
    </a>
    <a href="#">
        <span class="tag">Psicologico</span>
    </a>
    <a href="#">
        <span class="tag">Recuentos de la vida</span>
    </a>
    <a href="#">
        <span class="tag">Samurai</span>
    </a>
    <a href="#">
        <span class="tag">Sci-fi</span>
    </a>
    <a href="#">
        <span class="tag">Seinen</span>
    </a>
    <a href="#">
        <span class="tag">Shojo Ai</span>
    </a>
</div>