<ol class="list-group list-group-flush">
    <li class="list-group-item">
        <span>'Usuario' reacciono a tu comic</span>
        <span class="badge bg-secondary float-end">Hace 5h</span>
    </li>
    <li class="list-group-item">
        <span>'Usuario' comento tu comic</span>
        <span class="badge bg-secondary float-end">Hace 10h</span>
    </li>
    <li class="list-group-item">
        <span>Contraseña modifcada con exito</span>
        <span class="badge bg-secondary float-end">Hace 24h</span>
    </li>
    <li class="list-group-item">
        <span>Tu comic llego a 1000 vistas</span>
        <span class="badge bg-secondary float-end">Hace 30d</span>
    </li>
    <li class="list-group-item">
        <span>Bienvenido, publica tu primer comic</span>
        <span class="badge bg-secondary float-end">10-01-2023</span>
    </li>
  </ol>