<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a routerLink="/" class="nav-link px-2">Inicio</a></li>
        <li class="nav-item"><a routerLink="/Featured" class="nav-link px-2">Desatacados</a></li>
        <li class="nav-item"><a routerLink="/Reports-Feedback" class="nav-link px-2">Reportes y Sugerencias</a></li>
        <li class="nav-item"><a routerLink="/Tags" class="nav-link px-2">Categorias</a></li>
        <li class="nav-item"><a routerLink="/Artists" class="nav-link px-2">Artistas</a></li>
        <li class="nav-item"><a routerLink="/Terms" class="nav-link px-2">Terminos de Uso</a></li>
        <li class="nav-item"><a routerLink="/PrivacyPolicy" class="nav-link px-2">Politica y Privacidad</a></li>
        <li class="nav-item"><a routerLink="/About" class="nav-link px-2">Acerca</a></li>
    </ul>
    <p class="text-center"><span class="las la-copyright me-2"></span>2023 ComicCore, Inc</p>
</footer>