<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
            <div class="card">
                <img src="{{rutaImagen}}" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <hr>
                    <h5 class="card-title">The Amazing Spider-Man</h5>
                    <span class="artist">Artista</span>
                    <span class="last-chapter">#005</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{rutaImagen}}" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <hr>
                    <h5 class="card-title">The Amazing Spider-Man</h5>
                    <span class="artist">Artista</span>
                    <span class="last-chapter">#005</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{rutaImagen}}" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <hr>
                    <h5 class="card-title">The Amazing Spider-Man</h5>
                    <span class="artist">Artista</span>
                    <span class="last-chapter">#005</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{rutaImagen}}" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <hr>
                    <h5 class="card-title">The Amazing Spider-Man</h5>
                    <span class="artist">Artista</span>
                    <span class="last-chapter">#005</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{rutaImagen}}" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <hr>
                    <h5 class="card-title">The Amazing Spider-Man</h5>
                    <span class="artist">Artista</span>
                    <span class="last-chapter">#005</span>
                </div>
            </div>
        </div><div class="col">
            <div class="card">
                <img src="{{rutaImagen}}" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <hr>
                    <h5 class="card-title">The Amazing Spider-Man</h5>
                    <span class="artist">Artista</span>
                    <span class="last-chapter">#005</span>
                </div>
            </div>
        </div><div class="col">
            <div class="card">
                <img src="{{rutaImagen}}" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <hr>
                    <h5 class="card-title">The Amazing Spider-Man</h5>
                    <span class="artist">Artista</span>
                    <span class="last-chapter">#005</span>
                </div>
            </div>
        </div><div class="col">
            <div class="card">
                <img src="{{rutaImagen}}" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <hr>
                    <h5 class="card-title">The Amazing Spider-Man</h5>
                    <span class="artist">Artista</span>
                    <span class="last-chapter">#005</span>
                </div>
            </div>
        </div><div class="col">
            <div class="card">
                <img src="{{rutaImagen}}" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <hr>
                    <h5 class="card-title">The Amazing Spider-Man</h5>
                    <span class="artist">Artista</span>
                    <span class="last-chapter">#005</span>
                </div>
            </div>
        </div>
    </div>
</div>